<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mycobot_ai_no">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import mycobot_ai_no urdf file -->
    <xacro:include filename="$(find gazebo_simulation_ros2)/urdf/mycobot_280_m5.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="mycobot_ai_no.ros2_control.xacro" />

    <xacro:mycobot_ai_no_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
